<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Connection" connectionString="Data Source= tcp:54.39.129.38,1433;Initial Catalog=CGELABDBOLD; User Id=admincge;Password=cgelaboratorio01*; MultipleActiveResultSets=false" providerName="System.Data.SqlClient;Connection Timeout=30;Encrypt=True;TrustServerCertificate=False;" />
    <!--<add name="Connection" connectionString="Data Source= DESKTOP-1NHU9FL;Initial Catalog=CGELaBDB;Connection Timeout=60;Trusted_Connection=true; MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />-->
    <!--<add name="Connection" connectionString="Data Source= tcp:cgelabserver.database.windows.net,1433;Initial Catalog=CGELABDB; User Id=cgelabuser;Password=Cgelab2021; MultipleActiveResultSets=false" providerName="System.Data.SqlClient;Connection Timeout=30;Encrypt=True;TrustServerCertificate=False;" />-->
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>